<!-- Main navigation -->
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light" mdbWavesEffect href="/"><mdb-icon fas icon="camera-retro"></mdb-icon><strong>  MCB-TripWithMe</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span></a>
                </li>

                <li *ngIf="isLoggedIn()" class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="cog"></mdb-icon> Settings</a>
                </li>


                <!-- Dropdown -->
                <li *ngIf="isLoggedIn()" class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="">My account</a>

                        <a (click)="logout()" class="dropdown-item waves-light" mdbWavesEffect>Log out</a>

                    </div>

                </li>

            </ul>
            <form *ngIf="isLoggedIn()" class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </links>
    </mdb-navbar>
