img {
    width: 45px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .right {
    
    height: 34px;
  }
  
  
  .left {
    float: left;
    padding-left: 3px;
    margin-right: 9px;
  }
  
  .country-body {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .country-name{
    font-size: 14px;
  }
  