<mdb-stepper #stepper [vertical]="true">
  <mdb-step name="Step 1" label="Chose a trip type" [stepForm]="tripTypeForm">
    <form [formGroup]="tripTypeForm">
      <div class="md-form">
        <mdb-select id="tripTypesOptions" required [options]="tripTypes" placeholder="Trip type" formControlName = "tripTypesOptions"></mdb-select>
        <label for="">Trip Type</label>
        <mdb-error *ngIf="tripTypesOptions.invalid && (tripTypesOptions.dirty || tripTypesOptions.touched)">Input invalid</mdb-error>
        <mdb-success *ngIf="tripTypesOptions.valid && (tripTypesOptions.dirty || tripTypesOptions.touched)">Input valid</mdb-success>
      </div>
    </form>
    <button mdbBtn size="sm" color="primary" (click)="stepper.next()">CONTINUE</button>
  </mdb-step>
  <mdb-step name="Step 2" [stepForm]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <div class="md-form">
        <input type="password" class="form-control" mdbInput mdbValidate formControlName="password">
        <label for="">Password</label>
        <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Input invalid</mdb-error>
        <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">Input valid</mdb-success>
      </div>
    </form>
    <button mdbBtn size="sm" color="primary" (click)="stepper.next()">CONTINUE</button>
    <button mdbBtn size="sm" color="secondary" (click)="stepper.previous()">BACK</button>
  </mdb-step>
  <mdb-step name="Step 3" label="Step 3 label">
    <p class="pl-2">Finish!</p>
    <div class="step-actions">
      <button mdbBtn  size="sm" color="primary" (click)="onSubmit()">SUBMIT</button>
    </div>
  </mdb-step>
</mdb-stepper>





<div class="panel panel-primary">
    <div class="panel-heading">
      Add a trip
    </div>
    <div class="panel-body">
        <form class="form-horizontal" novalidate (ngSubmit)="addTrip()" [formGroup]="tripForm">
          <fieldset>
                <div class="form-group">
                        <label class="col-md-2 control-label" for="name">Name</label>
                        <div class="col-md-6">
                          <input class="form-control" id="name" type="text" placeholder="Name" formControlName="name" />
                        </div>
                        <label class="col-md-2 control-label" for="tripTypeAssesment">Trip Type</label>
                          <div class="col-md-6">
                            <mdb-select id="tripTypeAssesment" required [options]="tripTypesOptions" placeholder="Trip type" formControlName = "tripTypeAssesment"></mdb-select>
                          </div>

                </div>
                <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                          <span>
                            <button class="btn btn-primary" [disabled] ="tripForm.invalid" type="submit">
                              Save
                            </button>
                          </span>
                          <span>
                            <a class="btn btn-default" [routerLink]="['/trips']">
                              Back
                            </a>
                          </span>
                        </div>
                </div>
          </fieldset>
          </form>
    </div>
</div>
