.continent-header{
    font-weight:bolder;
    padding: 6px;
  }
  
  .region-name {
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    text-align: center;
  }
  
  .continent-container{
    margin-bottom:15px;
    }
  