<div class="row" style="margin: 0px;">
  <table class='table' *ngIf='countriesForRegion && countriesForRegion.length'>
      <thead>
          <tr>
              <th>#</th>
              <th>Code</th>
              <th>Name</th>
              <th>Area</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let country of countriesForRegion'>
              <td>
                  <img src="assets/svgmaps/{{country.alpha3Code | lowercase }}.svg">
              </td>
              <td>{{country.alpha2Code}} - {{country.alpha3Code}}</td>
              <td>
                <div>
                 <a>{{country.name}}</a> 
                 <br>
                 <a id="officialName" *ngIf="country.officialName != country.name">{{country.officialName}}</a>
                </div>
              </td>
              <td>{{country.area}}</td>
          </tr>
      </tbody>
  </table>
</div>

