.column-left{
    padding:0;
  }
  
  .column-right{
    padding:0;
  }
  
  /* Required for full background image */

html,
body,
header,
.view {
    min-height: 40vh !important;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color: #08721f !important;
}

// .navbar:not(.top-nav-collapse) {
//     background: transparent !important;
// }

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #08721f !important;
    }
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}
