
<div class="container">
  <div class="trips-list-header">
      <mdb-icon fas icon="plane-departure"></mdb-icon><a>   Your Trips:</a>
  </div>
  <div>
        <a class="btn btn-primary" style="width:100px; margin-left:10px; margin-top:10px;"  [routerLink]="['trip-add']">
            Add a Trip
        </a>
  </div>
  <hr />
  <div class="scrollbar scrollbar-info">
      <div>
          <div *ngFor="let trip of trips">
              <app-trip-thumbnail [trip]="trip"></app-trip-thumbnail>
          </div>
      </div>
  </div>
</div>



